
/* import fonts from fonts.css file */
@import url(./fonts.css);

/* CSS Variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navbar */

.logo{
    max-height: 50px;
}

.header_area .main-menu .nav-item .nav-link{
    font:normal 500 15px/2px;
    font-family: Helvetica;
    padding: 1.7rem;
    color:var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background:#4c00ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
    background: #4c00ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* end navbar */

/* start banner area */

/* .site-main .site-banner {
    background: url(../img/am\ banner.jpg) no-repeat 0% 50%;
} */

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content:"";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform:translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image >img{
    padding: 7rem 0;
    width: 90rem;
}

.me{
    max-height: 300px;
    margin-top: 145px;  
}


/* end banner area */

/* about me area */

.aboutUsImage{
    max-height: 400px;
    margin-top: 150px;
    margin-left: 350px;
}

.about-title{
    margin-top: 200px;
}

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2>span{
    display:block;
    font:normal bold 49px/ 60px;
    font-family: helvetica;
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph >p{
    padding: .4rem 0;
}

/* End About Area */

/* Portfolio Area */

.second{
    margin-left: 220px;
}

.project-title{
    padding-right: 150px;
}

.project-area{
    padding-left: 150px;
}

.fourth{
    padding-left: 200px;
}

.project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px helvetica;
    text-transform: uppercase;
}

.project-area .button-group button + button{
    padding-left: 3rem;
}

.project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px;
    font-family: helvetica;
}

footer.footer-area .social a > i{
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color)
}

footer.footer-area .social a:hover > i{
    color:blue;
}

/* End Project Area */

/* Services Area */

.services-area{
    padding: 7rem 2rem;
}

.services-area .service-title{
    padding: 0 14rem;
    font-weight: bolder;
}

.services-area .service-title h1{
    font-size: 35px;
    font-weight: bolder;
}

.services-area .services{
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .4s ease;
}

.services-list{
    padding-right: 100px;
}

.services-area .services:hover{
    box-shadow: var(--box-shadow);
}

/* End Services Area */

